/* body */
body {
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    color: #999;
}

/* wrapper */
div.wrapper {
    max-width: 650px;
    margin: 0 auto;
    margin-top: 40px;
    overflow: auto;
}

/* header */
header {
    width: 250px;
    height: 250px;
    float: left;
    text-align: center;
}

header h1 {
    margin: 0px;
    padding: 0px;
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

/* navigation */
.navigation {
    float: right;
    font-family: Helvetica, sans-serif;
    text-transform: lowercase;
    font-size: 1em;
    letter-spacing: 0.15em;
}

.navigation ul {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    list-style: none;
}

.navigation li {
    display: inline-block;
    margin-right: 7px;
}

.navigation a {
    color: grey;
    text-decoration: none;
}

.navigation a.active {
    color: #4183C4;
    font-weight: bold;
}

.navigation a:hover {
    color: #4183C4;
    font-weight: bold;
}

/* main-content */
.main-content {
    width: 380px;
    float: right;
    font-size: 1.15em;
    line-height: 1.3em;
    letter-spacing: 0.05em;
}

.main-content p {
    text-align: right;
}

.main-content p b {
    color: #555;
}

.main-content h1 {
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em;
    color: #555;
}


.splash p {
    font-size: 1.15em;
    line-height: 1.4em;
}
