<h2>Listing of all snippets</h2>
<%= link_to "Create New Snippet", new_snippet_path %>
<ul class="snippet-list">
  <% @snippets.each do |snippet| %>
    <li class="snippet-item">
      <h3 class="snippet-title"><%= link_to snippet.title, snippet_path(snippet)%></h3>
      <p class="snippet-desc"><%= snippet.desc[0..@char_limit]%></p>
    </li>
  <% end %>
</ul>
