/* layout */
.container {
    margin-top: 60px;
    max-width: 960px;
}

.left-sidebar {
    margin-top: -10px;
    text-align: center;
}

.align-right {
    text-align: right;
}

.new-post-btn {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* typography */
p {
    font-size: 1.2em;
}

h1 {
    font-size: 3em;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: lowercase;
}