<h2>Create New Post</h2>
<a href="/">back</a>
<form action="/create_post" method="post">
    <div class="form-group">
	<label for="title">Title</label>
	<input class="form-control" name="title" type="text" value="" />
    </div>
    <div class="form-group">
	<label for="body">Body</label>
	<textarea class="form-control" name="body" rows="10"></textarea>
    </div>
    <button class="btn btn-default" name="" type="submit">Create Post</button>
</form>
