<h1>Create New Post</h1>
<a href="/">back</a>
<form action="/create_post" method="post">
    <label for="title">Title</label>
    <input name="title" type="text" value="" />
    <br/>
    <label for="body">Body</label>
    <input name="body" type="text" value="" />
    <br/>
    <input name="" type="submit" value="Create Post"/>
</form>
